@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-txt-primary: #050F24;
    --color-txt-secondary: #6F757E;
    --color-accent: #FF8E29;
    --color-background: #fff;
    --color-border-shadow: #E1E1E1;
}
