.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.input {
	font-size: 14px;
	padding: 10px 15px;
	width: 100%;
	padding-right: 10px;
	outline: none;
	background: #F5F5F5;
	color: #050F24;
	border: 0.7px solid #E1E1E1;
	border-radius: 20px;
	transition: .3s ease;
}

.input:focus {
	background: #F5F5F5;
	border: 1px solid #289344;
	border-radius: 20px;
}

.input::placeholder {
	color: #6F757E;
}

.svg_icon {
	position: absolute;
	right: 28px;
    top: 15px;
	fill: #6F757E;
	width: 15px;
	height: 15px;
}
